[Unit]
Description=Hello REST API Service

[Service]
ExecStart={{ hello_service_home }}/bin/hello-world-rest-api
Type=simple
User={{ hello_service_user }}
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target 
